.img-new-box
{
    height: 10rem;
}
.section3-header
{
    margin-top: 8rem;
}
.section3-header
{
    position: relative;
    font-size: 1.5rem;
}
.section3-header-h1::before
{
    content: "";
    width: .4rem;
    height: 1.5rem;
    background-color: blue;
    position: absolute;
    right: 1rem;
}
.allbox-section-new3 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}